* {
  // @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
  // @import 'bootstrap/dist/css/bootstrap.min.css';

  margin: 0;
  padding: 0;

  body {
    overflow-x: hidden;
    text-align: center;
    // font-family: 'Nunito Sans', sans-serif;
    background-color: #dddedd;
    color: #01260e;
  }
  .green {
    color: #62a632;
  }
  .submit-btn {
    width: 312px;
    height: 35px;
    font-size: 1.25rem;
    background-color: transparent;
    border: #62a632 solid 2px;
    color: #62a632;
    border-radius: 3px;
    cursor: pointer;
  }
  .submit-btn:hover {
    background-color: #62a632;
    color: #01260e;
  }
  .submit-btn:focus {
    background-color: #3d9117;
    color: #01260e;
  }
  input {
    display: block;
    margin: 0 auto;
    width: 312px;
    height: 35px;
    border-radius: 3px;
    border: #01260e solid 1px;
    padding-left: 10px;
  }
  .form-input{
    margin: 10px auto;
    max-width: 312px;
  }

  label {
    display: block;
  }
  textarea {
    display: block;
    margin: 15px auto;
  }


  .red {
    color: red;
  }

//   get rid of bootstrap highlighting on input 
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #01260e;
  box-shadow: none;
  outline: 0 none;
}
}
