* {

  margin: 0;
  padding: 0;

  body {
    overflow-x: hidden;
    text-align: center;
    // font-family: 'Nunito Sans', sans-serif;
    background-color: #dddedd;
    color: #01260e;
  }

  // form stuff
  input {
    display: block;
    margin: 0 auto;
    width: 312px;
    height: 35px;
    border-radius: 3px;
    border: #01260e solid 1px;
    padding-left: 10px;
  }

  .form-input{
    margin: 10px auto;
    max-width: 312px;
  }

  label {
    display: block;
  }

  textarea {
    display: block;
    margin: 15px auto;
  }

  // buttons
  .green-outline-btn {
    width: 312px;
    height: 45px;
    font-size: 1.25rem;
    background-color: transparent;
    border: #62a632 solid 2px;
    color: #62a632;
    border-radius: 3px;
    cursor: pointer;
  }
  .green-outline-btn:hover {
    background-color: #62a632;
    color: #01260e;
  }
  .green-outline-btn:focus {
    background-color: #3d9117;
    color: #01260e;
  }
  

  .user-not-signed-in{
    text-align: center;
    margin-top: 100px;
  }
  .user-not-signed-in-btn{
      width: 150px;
      margin-top: 75px;
  }


  .solid-green-btn{
    background-color: #62A632;
    color: white;
    width: 195px;
    height: 45px;
    font-size: 1rem;
    border: #62A632 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 75px;
  }
  .solid-green-btn:hover{
    background-color: #69bc2f;
  }
  .solid-green-btn:focus{
    background-color: #3d9117;
  }

  // red and green text
  .red {
    color: red;
  }
  .green {
    color: #62a632;
  }

//   get rid of bootstrap highlighting on input 
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #01260e;
  box-shadow: none;
  outline: 0 none;
}
}
